html{
    scroll-behavior: smooth;
}
@import "tailwindcss";

@media (max-width: 600px) {
    .text-custom-18 {
      font-size: 16px;
    }
    .responsive {
      display: flex;
      flex-direction: column; /* Stack items vertically */
       gap: 1rem; 
    }
    .text-heading-25{
        font-size: 25px;
    }
  }